/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,700&display=swap');

/* Custom Syles */
html {
    scroll-behavior: smooth;
    height:100%;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: rgb(22, 31, 36);
    background-color: #000;
    scrollbar-face-color: #10ffaa;
    scrollbar-track-color: rgba(0, 0, 0, 0);
    
}

p {
    color: #fff;
}

.navbar {
  margin-top: 8px;  
}
.navbar-brand {
  font-weight: 800;
}

/* Progress Bar */
.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #000000;
}

.progress-bar {
    height: 8px;
    background: #10ffaa;
    width: 0%;
}

/* Progress Bar End */
/* Jumbotron */
.jumbotron {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin-bottom: 20vh;
}

h1,
h2,
h5 {
    color: rgb(212, 212, 212);
}

h4,
h3 {
  color: #000;
}
.jumbotron p {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

/* Jumbotron End */
/* Scroll Down Area */
.mouse_scroll {
	position: absolute;
    top: 75%;
    left: 50%;
    width: 30px;
    height: 30px;
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}


.one
{
  margin-top: 1px;
}

.one, .two, .three
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.one
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.two
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.three
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

/* Down area end */



.btn-primary {
    fill: #10ffaa;
    background: #10ffaa;
    border: #10ffaa;
    color: black;
}


.display-3 {
    font-weight: 900;
}

@media only screen and (max-width: 600px) {

    /* For mobile phones: */
    .display-3 {
        font-size: xx-large;
    }

}


.marketing {
    margin-top: 10vh;
          padding: 10px;      
    
}


.featurette {
    margin-bottom: 15vh;
    margin-top: 2vh;
}

.smallimage {
  max-width: 400px;
}

/* Fancy Background things */

.bgitem {
    position: absolute;
    z-index: -999;
    overflow: hidden;
    animation-name: floating;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@media only screen and (max-width: 600px) {

  /* For mobile phones: */
  .bgitem {
     visibility: hidden;
  }
  .bgitem#bg1 {
    visibility: visible;
 }

}

.bgitem#bg1 {
    top: 0%;
    left: 0;
    width: auto;
    height: auto;
    overflow:hidden;

}

.bgitem#bg2 {
  top: 110vh;
    left: 40%;
    width: 60%;
    height: auto;
    overflow:hidden;
}
.bgitem#bg3 {
  top: 130%;
  right: 50vw;
  width: auto;
  height: auto;
  overflow:hidden;

}

/* Animation Keyframes */

@keyframes floating {
    from {
        transform: translate(0, 0px);
    }

    65% {
        transform: translate(0, 9px);
    }

    to {
        transform: translate(0, -0px);
    }
}